# Godot
.godot/

# Godot C#
.mono/

# VS Code / IDEs
.vscode/
.idea/

# Builds
build/
exports/

# Arquivos de documentação não usados como recursos da Godot
docs/**/*.import

# Windows / sistema
Thumbs.db
.DS_Store

*.tmp
